@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(226, 225, 225);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(162, 161, 161);
  }


@layer base{
    html {
        @apply text-white
    }
}

@layer components{
    .switch-button{
        @apply h-11 w-16 font-semibold text-lg
    }
    .checked-switch{
        @apply bg-neutral-300/70 border-l-2 border-white
    }
}