@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #888;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


@layer base{
    html {
        @apply text-white
    }
}

@layer components{
    .switch-button{
        @apply h-11 w-16 font-semibold text-lg
    }
    .checked-switch{
        @apply bg-neutral-300/70 border-l-2 border-white
    }
}